.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.image {
  padding: 10px;
  width: 200px;
  height: 200px;
}

.imageContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}